{% extends 'blog/base.html' %}
{% load filters %}

{% block sitetitle %}TopBlog{% endblock %}
{% block title %}TopBlog{% endblock %}

{% block topheader %}
  {% if login_url %}
    <a href="{{ login_url }}">Login</a>
  {% else %}
    <a href="{{ logout_url }}">Logout</a>
  {% endif %}
{% endblock %}

{% block main %}
  {% for blog in blogs %}
    <div class="item">
      <div class="date">
      </div>
      <div class="content">
        <h1>{{ blog.title|sanitize }}</h1>
        <div class="body">
          {% if blog.is_saved %}
            {{ blog.summary|sanitize }}<br />
            <a href="{{ blog.get_absolute_url }}">Read more...</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
